.App {
    --header_height: 60px;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 0;
    width: available;
}

.hwTitle {
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
    padding: 20px 0 10px 0;
}