.friendMessage {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 15px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    display: flex;
    text-align: end;
}

.friendText {
    color: black;
    padding: 8px 13px;
    display: flex;
    flex-direction: column;
    background: #F5F7FB;
    border-radius: 20px 20px  20px 0;
    position: relative;
    margin-left: 20px;
    text-align: left;
}

.friendText:after {
    content: ' ';
    border: 8px solid transparent;
    border-bottom: 8px solid #F5F7FB;
    border-right: 8px solid #F5F7FB;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -16px;
}

.friendName {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: auto;
}

.friendTime {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: black;
    display: flex;
    text-align: center;
    padding: 0 10px;
    margin-top: 3px;
    font-weight: bold;
}
