.select {
    width: 180px;
    height: 24px;
    background: transparent;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 2px 5px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;

}

.select:focus {
    outline: none;
}

.option {
    margin-bottom: 10px;
}

.option:hover {
    background: #0066cc;
}
